.Rproj.user
.Rhistory
.RData
.Ruserdata
.env
/.venv
newspaper_analysis.log
Visualisations/Word_count/omeka_script.log
omeka_script.log
Visualisations/Overview/data_cache.json
Visualisations/Overview/items_over_years.log
Metadata/omeka_export.log
/Visualisations/Choropleth_map/logs
Visualisations/Choropleth_map/spatial_processing.log
Visualisations/Index/api_fetcher.log
Visualisations/Keywords/data_processing.log
Visualisations/Overview/data_visualization.log
